
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*Designing the header */

body, html{
	min-height: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
    color: black;
    background: #ffffff;
    position: relative;
	display: block;
}

div.wrapper {
    flex: 1;
    box-sizing: border-box;
	background: #EEEEE0;
	display: block;
    position: relative;
    overflow: auto;
	color: rgba(0,0,0,0.87);
}

.header {
	background: #05a8aa;
	width: 100%;
	position: fixed;
	box-sizing: border-box;
	display: flex;
	z-index: 2;
    font-size: 16px;
    min-height: 64px;
    width: 100%;
	
}

div.toolbar {
	font-size: 20px;
    letter-spacing: .001em;
    box-sizing: border-box;
    font-weight: 400;
    width: 100%; 
	height: 64px;
    padding: 0 1.5vw;
}

div.logo-and-text {
	display: flex;
	max-width: 25%;
	height: 22px;
	max-height: 48px;
	margin: 21px 0 0 0;
	float: left;
}
div.nav1 {
	margin-left: 10%;
	width: 29%;
    height: 20px;
}

div.nav2 {
	width: 21%; height: 20px;
	margin-left: 10%;
}

div.nav3 {
	width: 22%; height: 20px;
	margin-left: 10%;
}

.logo{
	height: 20px;
	max-width: 20px;
	margin-top: -7px;
	
}

.logo-text {
	font-size: 20px;
	color: white;
	margin: 0 auto;
	margin-left: 0.23em;
	
}

.search {
    width: 35%;
	height: 30px;
	margin: 17px 0 0 8%;
	float: left;
	
}

.search input {
    height: 30px;
    width: 100%;
    padding: 0 12px 0 30px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 8px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
}

.search input:focus {
    outline: none;
    border-color: #CCFF00;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

div.nav-bar {
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	flex-direction: row;	
	max-width: 40%;
	height: 22px;
	max-height: 48px;
	width: 30%;
	margin: 21px 5% 0 0%;
	position: relative;
	order: 3;
	float: right;
	
}
 a .noti, a .action, a .setting {
	 width: 20px;
	 height: 20px;
	 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	 display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	 display: -ms-flexbox;      /* TWEENER - IE 10 */
	 display: -webkit-flex;
	 display: flex;
	 -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	flex-direction: row;
 }
 
.act {
	 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
	 display: flex;
	 -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	flex-direction: row;
	 
 }
 
 div.actions {
	 width: 25%;
 }
 
 
.nots {
	 text-align: center;
	 margin-top: 5px;
	 color: #ffffff;
	 font-size: 0.6em;
	 margin-left: 3px;
 }
 

div.google_play {
	
	height: 30px;
	max-width: 8%;
	max-height: 48px;
	margin: 15px 0 19px 3%;
	float: right;
	order: 4;
	
}

.google {
	width: 100%;
	height: 100%;
}
 
.main {
	display: flex;
	background-color: #CCf4f4f4;
	flex-direction: row;
	min-width: 100%;
	min-height: 100%;
	margin-top: 48px;
	
}

a,a:hover, a:visited, a:link, a:active{

  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  color: inherit;
}

div.feed-main-item:hover, div.feed-main-item:visited, div.feed-main-item:link, div.feed-main-item:active{

  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  color: inherit;
}

/*Header designing ends */

/*Designing the interests section */
.interest-bar {
	
	flex: 1 1 30%;
    max-width: 30%;
    max-height: 100%;
    box-sizing: border-box;
	display: block;
}

.interest-bar-container {
	float: right;
    margin-right: 2%;
    margin-left: 2%;
    width: 70%;
}

div.interest-bar-container .left-bar-title {
    color: RGB(213, 213, 213);
    margin-top: 30px;
    margin-bottom: 15%;
    padding-left: 5%;
	
}

div.interest-bar-container .interest-link {
    border-bottom: 1px solid #05a888;
    color: rgb(148,148,148);
    display: block;
    padding: 7% 7% 7% 5%;
    font-size: 1em;
    cursor: pointer;
	
	
}



div.interest-bar-container .interest-link:hover{

   color:rgb(19,203,134);
}
/* Interest section designing ends */

/* Designing the main feed section  */

#image_holder img {
	height: 200px;
	width: 150px;
}

.flex {
	flex: 1;
    box-sizing: border-box;
	}
	
div.post-section {
	margin: 3% 2% 2% 2%;
    border-radius: 5px;
    border: 1px solid #05a8aa;
    box-shadow: 0px 1px 1px rgb(215,215,215);
	min-height: 120px;
	height: auto;
	background-color: #ffffff;
}

textarea.news-post{
	width: 98%;
	min-height: 60px;
	margin: 5px 5px 5px 5px;
	border-radius: 10px;
	text-align: left;
	height: auto;
	overflow-y: auto;
	word-wrap:break-word;
}
textarea:focus {
	outline: none;
}

div.buttons-section {
	width: 98%;
	margin: 1% 2% 1% 1%;
	min-height: 40px;
	
}

label img {
	background-color: transparent;
	width: 30px;
	height: 30px;
	margin: 0;
	background-size: cover;
	box-shadow: 0px 1.5px 1.5px #696969;
	border-radius: 5px;
}

button:focus{
	outline: 0;     
	outline-style:none;
}

button.report {
	width: 60px;
	height: 30px;
	border: 10px;
	box-shadow: 0px 1.5px 1.5px #696969;
	border-radius: 8px;
	margin: 0;
	color: #ffffff;
	font-weight: 600;
	background-color: #05a8aa;
	background-size: cover;
	float: right;
}
	
section.city-feed-container {
    margin-right: 1%;
    margin-left: 1%;
    min-width: 45vw;
	display: block;
}

section.city-feed-container .feed-content-box {
    padding: 30px 2% 2% 2%;
    color: RGB(213, 213, 213);
	
}

div.newsfeed-entity {
	display: block;
}

div.feed-card {
    margin: 3% 2% 3% 2%;
    border-radius: 5px;
	border: 1px solid #05a8aa;
    box-shadow: 0px 1px 1px rgb(215,215,215);
	background: white;
}
div.author-name-time {
    padding: 2.25%;
}
div.author {
	vertical-align: middle;
    display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #05a8aa;
}

.author-img {
	width: 30px;
    height: 30px;
	margin: 2.5px;
    display: inline-block;
    vertical-align: middle;
    -webkit-filter: brightness(100%);
	transition: all 1s ease;
	flex: 0 0 auto;
}



div.author-name {
	vertical-align: middle;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.1;
    color: RGB(87,87,87);
	 padding-left: 1.3%;
    
	
}

strong {
    font-weight: bold;
}

span.feed-time {
	color: RGB(173,173,173);
    font-size: 0.8em;
}

a.feed-main-item {
	cursor: pointer;
	color: inherit;
	
}

div.feed-image {
	display: block;
	width: 100%;
	overflow: hidden;
}

div.feed-image img {
	
    max-width: 100%;
    height: auto;
    background-size: cover;
    opacity: 1;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

div.feed-card .feed-supporting-text {
    margin: 2.5% 2.5% 2.5% 2.5%;
    color: #000;
}

.tag {
	margin: 0.5% 0% 0.5% 0%;
    font-weight: 600;   
}

div.feed-card .feed-supporting-text span {
	margin: 1% 0% 1% 0%;
    font-size: 1em;
}






div.feed-card a{
	text-decoration: none;
}

/*Main feed designing ends */

/* Designing the featured section */

section.featured {
	

	-webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    max-width: 40vw;
    max-height: 100vh;
    box-sizing: border-box;
	display: block;
}

div.featured-bar-container {
	float: left;
	display: block;
	width: 100%;
}

div.featured-bar-container .featured-title {
	color: rgb(213, 213, 213);
    margin-top: 30px;
    margin-bottom: 7%;
	
}


div.feed-image-title .feed-supporting-text span {
	font-size: .75em;
    font-weight: 700;
}

div.user-profile {
    min-width: 10.5vw;
    max-width: 22vw;
	font-size: 24px;
	height: 200px;
    margin: 3% 2% 3% 0%;
    border: 2px solid #05a8aa;
    box-shadow: 0px 1px 1px rgb(215,215,215);
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

div.abcd {
	width: 100%;
	height: 60%;
	display: flex;
}

div.profile-pic {
	padding: 20px 0 0 7%;
	display: flex;
	width: 40%;
	height: 100%;
}

img.pic {
	width: 100%;
	height: 100%;
    padding: 0% 0% 0% 0%;
	border-radius: 50%;
	border: 2px solid #05a8aa;
    display: inline-block;
    vertical-align: middle;
    padding: auto 0 auto 0;
}

div.user-name-city {
	padding: 23px 0 0 5.2%;
    width: 50%;
	height: 100%;
    vertical-align: middle;
    display: inline-block;
}

h3.user-name {
	font-size: 1.8vw;
}

h4.user-city, .reports-sec {
	font-size: 1.3vw;
}
div.cdef {
	height: 40%;
	padding: 10px 10.5% 0 10.5%;
	display: flex;
}
div.reports{
	width: 50%;
	text-align: left;
	margin-right: 15.7%;
}
h5.reports-count, .reports-point {
	font-size: 1vw; 
}


div.points{
	width: 50%;
	text-align: right;
	
}


/* Featured content designing ends */

/* Applying some media queries */


@media screen and (min-width: 250px) and (max-width: 469px) {
	  
	section.city-feed-container{
    min-width:0;
	max-width: 460px;
  }
  
  section.interest-bar{
    display: none;
	width: 0;
	float: right;
	height: 0
    
  }
  
  section.featured {
	  display: none;
	  width: 1%;
  }
  
  .main {
	  margin-top: 58px;
  }
  
  .logo-text {
	padding-top: 5px;
	font-size: 15px;
  }
  
  div.nav1 {
	  margin-left: 20%;
  }
  
 /* div.logo-and-text {
	  margin-left: 20px;
  } */
   div.toolbar {
		flex-wrap: wrap;
		display: flex;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}
	
	div.nav-bar {
		max-width: 70%;
		width: 70%;
	}
	
	.search {
		order: 10;
		width: 95vw;
		font-size: 15px;
		margin-bottom: 5px;
		margin-top: 5px;
		height: 33px;
		margin-left: 2vw;
		margin-right: 2vw;
		padding-left: 0;
	}
	
	.search input {
		height: 24px;
		background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 10px 5px no-repeat;
	}
  
 div.logo-and-text {
	 margin-left: 2vw;
	 margin-top: 14px;
	 margin-right: 0;
	 max-width: 25%;
	 width: 20%;
 }
 
 .noti, .action, .setting {
	 margin-left: 20px;
	 margin-top: -6px;
 }
 
 .nots {
	 display: none;
 }
 
 
 .fries {
	 width: 20px;
	 height: 20px;
 }
    
  }

 @media screen and (min-width: 470px) and (max-width: 599px){

	
  section.city-feed-container{

    min-width:0;
	max-width: 590px;
  }
  
  section.interest-bar{

    display: none;
	width: 0;
	float: right;
	height: 0
    
  }
  
  section.featured {
	  display: none;
	  width: 1%;
  }
  
 /* div.logo-and-text {
	  margin-left: 20px;
  }  */
  div.toolbar {
		flex-wrap: wrap;
		display: flex;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}
	
	.main {
		margin-top: 64px;
	}
	
	section.city-feed-container .feed-content-box {
		padding-bottom: 0;
	}
	
 .search {
		order: 10;
		width: 95vw;
		font-size: 15px;
		margin-bottom: 5px;
		margin-top: 10px;
		height: 33px;
		margin-left: 2vw;
		margin-right: 2vw;
		padding-left: 0;
	}
	
	.search input {
		height: 24px;
		background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 10px 5px no-repeat;
	}
.google-play {
	margin-left: 3vw;
}
 div.logo-and-text {
	 font-size: 18px;
	 margin-left: 2vw;
	 width: 25%;
	 margin-right: 5%;
	 margin-top: 10px;
 }
 
 div.nav-bar {
	 order: 0;
	 float: right;
	 margin-top: 10px;
	 
	 width: 60%;
	 max-width: 60%;
 }
 
 .noti, .action, .setting {
	 margin-left: 3vw;
 }
 
 
 
 .fries {
	 width: 20px;
	 height: 20px;
	
 }
  
}  

@media screen and (min-width:810px) and (max-width:959px){
	
   
  section.city-feed-container{

    min-width: 70vw;
    margin: 0 auto 0 auto;
  }
  div.interest-bar{

    width: 95%;
	flex: 1 1 25%;
    max-width: 25%;
  }
  
  div.mobile-nav {
	  display: none;
  }
  
  section.featured {
	  display: none;
  }
  
  div.hamburger {
	  display: none;
  }
}
  
  @media screen and (min-width: 1000px) {
	  div.hamburger {
	  display: none;
  }
  }
  
  @media screen and (min-width:600px) and (max-width:809.9px){ 
	section.city-feed-container{

    min-width: 70vw;
    margin: 0 auto 0 auto;
  }
  
  div.interest-bar{
    width: 95%;
	flex: 1 1 25%;
    max-width: 25%;
  }
  
  .search{
	  width: 30%;
	  margin-left: 5%;
  }
  
  section.featured {
	  display: none;
  }
  
  div.nav-bar {
	  margin-right: 15%;
  }
  
 div.nav1 {
	margin-left: 13%;
	width: 35%;
    height: 20px;
}

div.nav2 {
	width: 26%; height: 20px;
	margin-left: 19%;
}

div.nav3 {
	width: 25%; height: 20px;
	margin-left: 13%;
}
  }
  
@media screen and (max-width: 249px) {
	
	section.city-feed-container{
    min-width:0;
	max-width: 239px;
  }
  
  section.interest-bar{
    display: none;
	width: 0;
	float: right;
	height: 0
    
  }
  
  section.featured {
	  display: none;
	  width: 1%;
  }
  
  .main {
	  margin-top: 53px;
  }
  .logo-text {
	display: none;
  }
  
  div.nav1 {
	  margin-left: 20%;
  }
  
 /* div.logo-and-text {
	  margin-left: 20px;
  } */
   div.toolbar {
		flex-wrap: wrap;
		display: flex;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}
	
	div.nav-bar {
		
    max-width: 60%;
    width: 60%;
    margin-right: 15%;
	}
	
	.search {
		order: 10;
		width: 95vw;
		font-size: 15px;
		margin-bottom: 5px;
		margin-top: 0;
		height: 33px;
		margin-left: 2vw;
		margin-right: 2vw;
		padding-left: 0;
	}
	
	.search input {
		height: 24px;
		background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 10px 5px no-repeat;
	}
  
 div.logo-and-text {
	 margin-left: 3vw;
	 margin-top: 14px;
	 margin-right: 0;
	 max-width: 25%;
	 width: 20%;
 }
 
 .noti, .action, .setting {
	 margin-left: 20px;
	 margin-top: -6px;
 }
 
 .nots {
	 display: none;
 }
 
 
 .fries {
	 width: 20px;
	 height: 20px;
 }
	
}




/* Navigation Menu - Background */





















